@import "tailwindcss";

@font-face {
  font-family: Source;
  src: url("../public/fonts/SourceCodePro-Regular.woff2") format(woff2);
}

@font-face {
  font-family: mono;
  src: url("../public/fonts/SpaceMono-Regular.woff2") format(woff2);
}

@font-face {
  font-family: med;
  src: url("../public/fonts/SpaceGrotesk-Medium.woff2") format(woff2);
}

@font-face {
  font-family: Boldonse;
  src: url("../public/fonts/Boldonse-Regular.woff2") format(woff2);
}
